body {
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
}

.box {
    border: 1px solid #ccc;
    background: #eee;
    margin: 20px 0;
    padding: 20px;
}

.box h1 {
    margin-top: 0;
    font-size: 150%;
}

.board {
    display: grid;
}

.row-0 {
    grid-row: 0;
}
.row-1 {
    grid-row: 1;
}
.row-2 {
    grid-row: 2;
}
.row-3 {
    grid-row: 3;
}
.row-4 {
    grid-row: 4;
}
.row-5 {
    grid-row: 5;
}
.row-6 {
    grid-row: 6;
}
.row-7 {
    grid-row: 7;
}
.column-0 {
    grid-column: 0;
}
.column-1 {
    grid-column: 1;
}
.column-2 {
    grid-column: 2;
}
.column-3 {
    grid-column: 3;
}
.column-4 {
    grid-column: 4;
}
.column-5 {
    grid-column: 5;
}
.column-6 {
    grid-column: 6;
}
.column-7 {
    grid-column: 7;
}
